#cambiarImagen{
	text-align: center;
	color: #FFFFFF;
	font-family: cursive;
	
}


#messi{
	width: 250px; height: 350px;
	 }


.mini{

	margin-left: 100px;
	margin-top: 80px;
	width: 200px;
	height: 280px;
}

